button {
	outline: none;
}
button.filter_clear {
	background: none;
	border: none;
	text-align: left;
	color: #666666;
	width: 100%;
	text-decoration: none !important;
	padding-bottom: 10px;
	display: inline-block;
	border-bottom: 1px solid #e8e8e8;
	padding: 30px 0 45px 0;
}
button.filter_clear i {
	width: 27px;
	height: 27px;
	border: 1px solid #e9e9e9;
	border-radius: 15px;
	display: inline-block;
	position: relative;
	top: -3px;
	margin-right: 8px;
}
.apply_filter a:hover {
	color: #666666!important;
}
#modef_num{
	display: inline-block;

}
.ui-slider .bx-ui-slider-pricebar-vn,
.ui-slider .bx-ui-slider-pricebar-vd,
.ui-slider .bx-ui-slider-pricebar-v{
	position:absolute;
}

.ui-slider .bx-ui-slider-pricebar-vn{
	background-color: #d3d3d3;
	height: 4px;
}
.ui-slider .bx-ui-slider-pricebar-vd{
	background-color:#d3d3d3;
}
.ui-slider .bx-ui-slider-pricebar-v {
	background-color: #f7981d;
	height: 4px;
	z-index: 2;
}
.price_inputs{
	margin-left: 1px;
}
.ft_body ul.filter_sizes li label{
	top: -1px!important;
}
.ft_body .filter_sizes .cnb_active_li{
	background-color: #f5f5f5;
}