/*region Slider */
.product-item-detail-slider-container {
    position: relative;
    max-width: 100%;
    background: transparent;
    transition: background 800ms ease;
}

.product-item-detail-slider-block {
    position: relative;
    box-sizing: border-box;
    padding-top: 56.25%;
    height: 0;
}

.product-item-detail-slider-block.product-item-detail-slider-block-square { padding-top: 100%; }

.product-item-detail-slider-images-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.product-item-detail-slider-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 250ms linear;
}

.product-item-detail-slider-image.active {
    z-index: 10;
    opacity: 1;
}

.product-item-detail-slider-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    outline: 1px solid transparent;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 450ms ease, width 450ms ease, height 450ms ease, outline 450ms ease;
    transform: translateY(-50%) translateX(-50%);
}

.product-item-detail-slider-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 180;
    height: 3px;
    background-color: #006cc0;
    background-color: var(--theme-color-primary)
}

/*endregion*/

/*region Slider Controls*/
.product-item-detail-slider-controls-block {
    padding: 10px 0;
    text-align: center;
}

.product-item-detail-slider-controls-image {
    position: relative;
    display: inline-block;
    margin: 4px;
    overflow: hidden;
    width: 75px;
    height: 75px;
    outline: 1px solid #e8e8e8;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
product-item-detail-slider-controls-image{

}
.product-item-detail-slider-controls-image:hover,
.product-item-detail-slider-controls-image.active { outline: 2px solid #F7981D; }


.product-item-detail-slider-controls-image img {
    position: absolute;

    top: 50%;
    left: 50%;
    max-width: 65px;
    max-height: 65px;
    width: auto;
    height: auto;
    transform: translateY(-50%) translateX(-50%);
}

.product-item-detail-slider-left,
.product-item-detail-slider-right {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 111;
    display: block;
    width: 25%;
    background: rgba(255, 255, 255, 0) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2230%22%20viewBox%3D%220%200%2016%2030%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20points%3D%2216%2050%202%2036%2016%2022%2015%2021%201%2035%200%2036%201%2037%2015%2051%22%20transform%3D%22translate(0%20-21)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    opacity: .57;
    cursor: pointer;
    transition: all 300ms ease;
}

.product-item-detail-slider-left { left: 0; }

.product-item-detail-slider-right {
    right: 0;
    transform: rotate(180deg);
}

.product-item-detail-slider-left:hover,
.product-item-detail-slider-right:hover {
    background-color: rgba(255, 255, 255, .4);
    opacity: .8;
}

.product-item-detail-slider-close { display: none; }

.product-item-detail-slider-container.popup .product-item-detail-slider-close {
    position: absolute;
    top: 4px;
    right: 110px;
    bottom: 0;
    z-index: 150;
    display: block;
    width: 50px;
    height: 50px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20points%3D%2216%2015.1%208.944%208%2016%201%2015.006%200%208.05%207%20.994%200%200%201%207.056%208%200%2015.1%20.994%2016%208.05%209%2015.006%2016%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
    opacity: .27;
    cursor: pointer;
    transition: all 300ms ease;
}

.product-item-detail-slider-container.popup .product-item-detail-slider-close:hover { opacity: 1; }

.product-item-detail-slider-container.popup .product-item-detail-slider-right { right: 105px; }
@media (max-width: 600px) {
    .modal_quick .modal-dialog{
        width: 90%!important;
    }
    .product-item-detail-slider-controls-image{
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 320px) {
    .modal_quick .modal-dialog{
       width: 85%!important;
    }
}
/*endregion*/

.size_filters ul {
    height: 30px;
    width: 30%;
    border: 1px #e8e8e8 solid;
}
.size_filters ul li {
    padding: 5px 10px;
    z-index: 2;
}
.size_filters ul li:not(.init) {
    border-left:1px #e8e8e8 solid;
    border-right:1px #e8e8e8 solid;
    width: 100%;
    display: none;
    background: #fff;
    position: relative;
    cursor:pointer
}
.size_filters ul li:not(.init):last-child{
    border-bottom:1px #e8e8e8 solid;
}
.size_filters ul li:not(.init):hover, .size_filters ul li.selected:not(.init) {
    background: #ddd;
}
.size_filters li.init {
    cursor: pointer;
}
.m_kinds li a{
    width: 100%;
}
.m_kinds {
    padding: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
}
.m_kinds li.selected {
    outline: 1px solid lightgrey; !important;
    position: relative;
}
.m_kinds li:hover {
    outline: 1px solid lightgrey;
}
.m_kinds li.selected:before {
    display: inline-block;
    background-color: rgba(254, 247, 255, 0.57);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.m_kinds li.selected a:before {
    display: inline-block;
    position: absolute;
    font-family: 'fontAwesome';
    color: orange;
    content: '\f058';
    font-size: 21px;
    top: 15px;
    left: 20px;
}
.m_section .cart_state{
    background-color: #f7981d!important;
    color: #fff!important;
    text-decoration: none;
}
.m_section .already.cart_state{
    background-color: #f5f5f5!important;
    color: #32383d!important;
    text-decoration: none;
}
.see_more .cart_state{
    text-decoration: none;
}