.bx-opener .access_menu{
	display:block;
}
.favorite_key .ifHide,
.bx-closed .access_menu{
	display:none;
}
.favorite_container.emptyCart{
	overflow-y: hidden;
}
.favorite_container .f_cell_left img {
	width: 100%;
}
.favorite_container li,
.favorite_key .TSB1_EMPTY_FAV{
	width: 100%;
}
#cart.defaultClass{
    max-height: 315px!important;
}

#cart.mCustomScrollbar{
    max-height: 290px!important;
}
