.pagination li.page_first a:focus,
.pagination li.page_last a:focus,
.pagination li.page_next a:focus,
.pagination li.page_prev a:focus,
.pagination li.page_first a:focus,
.pagination li.page_last a:focus
{
    outline: none;
    text-decoration: none;
    background-color: transparent;
}