    /*
    Flaticon icon font: Flaticon
    Creation date: 29/10/2017 09:10
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-technology:before { content: "\f100"; }
.flaticon-multimedia:before { content: "\f101"; }
.flaticon-signs:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-delete:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-arrows:before { content: "\f106"; }
.flaticon-left-arrow-key:before { content: "\f107"; }
.flaticon-shopping-cart:before { content: "\f108"; }
.flaticon-commerce:before { content: "\f109"; }
.flaticon-social-media:before { content: "\f10a"; }
.flaticon-security:before { content: "\f10b"; }
.flaticon-technology-1:before { content: "\f10c"; }
.flaticon-interface-1:before { content: "\f10d"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f10e"; }
.flaticon-social:before { content: "\f10f"; }
.flaticon-time:before { content: "\f110"; }
.flaticon-transport:before { content: "\f111"; }
.flaticon-symbols:before { content: "\f112"; }
.flaticon-symbol:before { content: "\f113"; }
.flaticon-money:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-shapes:before { content: "\f116"; }
.flaticon-interface:before { content: "\f117"; }
.flaticon-lock:before { content: "\f118"; }
.flaticon-shop:before { content: "\f119"; }
.flaticon-viber:before { content: "\f11a"; }
.flaticon-check-1:before { content: "\f11b"; }
.flaticon-check:before { content: "\f11c"; }
    
    $font-Flaticon-technology: "\f100";
    $font-Flaticon-multimedia: "\f101";
    $font-Flaticon-signs: "\f102";
    $font-Flaticon-close: "\f103";
    $font-Flaticon-delete: "\f104";
    $font-Flaticon-user: "\f105";
    $font-Flaticon-arrows: "\f106";
    $font-Flaticon-left-arrow-key: "\f107";
    $font-Flaticon-shopping-cart: "\f108";
    $font-Flaticon-commerce: "\f109";
    $font-Flaticon-social-media: "\f10a";
    $font-Flaticon-security: "\f10b";
    $font-Flaticon-technology-1: "\f10c";
    $font-Flaticon-interface-1: "\f10d";
    $font-Flaticon-keyboard-right-arrow-button: "\f10e";
    $font-Flaticon-social: "\f10f";
    $font-Flaticon-time: "\f110";
    $font-Flaticon-transport: "\f111";
    $font-Flaticon-symbols: "\f112";
    $font-Flaticon-symbol: "\f113";
    $font-Flaticon-money: "\f114";
    $font-Flaticon-search: "\f115";
    $font-Flaticon-shapes: "\f116";
    $font-Flaticon-interface: "\f117";
    $font-Flaticon-lock: "\f118";
    $font-Flaticon-shop: "\f119";
    $font-Flaticon-viber: "\f11a";
    $font-Flaticon-check-1: "\f11b";
    $font-Flaticon-check: "\f11c";