	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/10/2017 09:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-technology:before { content: "\f100"; }
.flaticon-multimedia:before { content: "\f101"; }
.flaticon-signs:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-delete:before { content: "\f104"; }
.flaticon-user:before { content: "\f105"; }
.flaticon-arrows:before { content: "\f106"; }
.flaticon-left-arrow-key:before { content: "\f107"; }
.flaticon-shopping-cart:before { content: "\f108"; }
.flaticon-commerce:before { content: "\f109"; }
.flaticon-social-media:before { content: "\f10a"; }
.flaticon-security:before { content: "\f10b"; }
.flaticon-technology-1:before { content: "\f10c"; }
.flaticon-interface-1:before { content: "\f10d"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f10e"; }
.flaticon-social:before { content: "\f10f"; }
.flaticon-time:before { content: "\f110"; }
.flaticon-transport:before {content: "\f111";}
.flaticon-symbols:before { content: "\f112"; }
.flaticon-symbol:before { content: "\f113"; }
.flaticon-money:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-shapes:before { content: "\f116"; }
.flaticon-interface:before { content: "\f117"; }
.flaticon-lock:before { content: "\f118"; }
.flaticon-shop:before { content: "\f119"; }
.flaticon-viber:before { content: "\f11a"; }
.flaticon-check-1:before { content: "\f11b"; }
.flaticon-check:before { content: "\f11c"; }