#order_form_div .profile-created{
    background: url('images/zakaz_icon9.png') no-repeat 50% 20px!important;
}
#order_form_div .ord_link {
    color: #777777;
    text-decoration: underline;
}
.delimer{
    height: 1px;
    background: #E8E8E8;
    margin-top: 20px;
    margin-bottom: 26px;
}
.nopad{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-top: 5px;
}
.delimerVert{
    width: 100%;
    max-width: 1px;
    margin: auto;
    background-color: #E8E8E8;
    font-size: 1px;
    height: 70px;
}
.lk_section input{
    width: 100%;
}
.select_mms_active:after{
    background: #fff;
}
.select_mms_vars a{
    color: #666666;
}
.select_mms_vars a {
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 8px 8px 36px;
    cursor: pointer;
    position: relative;
}
.select_mms_active{
    border: 1px solid #e8e8e8;
}
.select_mms_vars a:last-child {
    border-bottom: none;
}
.select_mms_vars a:hover {
    background-color: whitesmoke;
}
i.mmsico_ {
    background-size: auto;
    background-position: 50%;
    background-repeat: no-repeat;
}
.propDate{
    position: relative;
}
.propDate img{
    position: absolute;
    right: 10px;
    top: 10px;
}
.cab-fav-link {
    display: inline-block!important;
    width: 100%!important;
    background-color:unset!important;
    max-width: 300px!important;
    overflow: hidden!important;
    white-space: nowrap!important;
    text-overflow: ellipsis!important;
    color: #666!important;
    padding: 0!important;
}
