ul.map-level-0 a {
	font-weight: bold;
	color: #32383d;
}

ul.map-level-1 a, ul.map-level-2 a, ul.map-level-3 a {
	font-weight: normal;
}

.map-columns td {
	vertical-align: top;
}
/* --- */


ul.map-level-1 li, 
ul.map-level-2 li {
	display: none;
}

ul.map-level-0 a:hover ~ ul.map-level-1 li {
	display: list-item;
	}
/*ul.map-level-1 a:hover ~ ul.map-level-2>li {
	display: list-item;
	}*/