.search-main{
    width: 100%;
    margin-bottom: 60px;
    margin-left: -40px;
}
.search-menu{
    list-style: none;
    column-count: 5;
    column-gap: 200px;
}
.search-menu li {
    padding-right: 20%;
}
.search-menu a{
    font-size: 14px;
    color: #777777;
}
.search-menu a:hover{
    font-size: 14px;
    color: #333333;
}
@media (max-width: 768px) {
    .search-menu {
        column-gap: 220px;
    }
}
@media (max-width: 480px){
    .search-menu{
        column-count: 3;
        column-gap: 70px;
    }
}