.m_variations .slick-prev:focus,
.m_variations .slick-next-arrow:focus
.m_variations .slick-prev:hover,
.m_variations .slick-next:hover {
    background: rgba(0, 0, 0, 0.3)!important;
}
.m_variations .slick-prev,
.m_variations .slick-next
{
    background-color: rgba(0, 0, 0, 0.4);
    width: 39px;
    height: 39px;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
}
.m_variations .slick-prev{
    left: 25px;
}
.m_variations .slick-next{
    right: 25px;
}
.m_variations .slick-prev:before {
    content: '\f104';
    font-family: 'fontAwesome';
    color: white;
    left: -1px;
    top: -1px;
    position: relative;
}
.m_variations .slick-next:before {
    content: '\f105';
    font-family: 'fontAwesome';
    color: white;
    right: 1px;
    top: -1px;
    position: relative;
}
.m_variations .slick-slide{
    margin:3px 7px!important;
    padding: 10px;
}
.m_variations li:hover,
.slick-active{
    outline: 2px solid #F7981D;
}
.size_filters ul {
    height: 30px;
    width: 30%;
    border: 1px #e8e8e8 solid;
}
.size_filters ul li {
    padding: 5px 10px;
    z-index: 2;
}
.size_filters ul li:not(.init) {
    border-left:1px #e8e8e8 solid;
    border-right:1px #e8e8e8 solid;
    width: 100%;
    display: none;
    background: #fff;
    position: relative;
    cursor:pointer
}
.size_filters ul li:not(.init):last-child{
    border-bottom:1px #e8e8e8 solid;
}
.size_filters ul li:not(.init):hover, .size_filters ul li.selected:not(.init) {
    background: #ddd;
}
.size_filters li.init {
    cursor: pointer;
}
.m_kinds li a img{
    width: 60px!important;
}
.m_kinds {
    padding: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
}
.m_kinds li.selected {
    outline: 1px solid lightgrey; !important;
    position: relative;
}
.m_kinds li:hover {
    outline: 1px solid lightgrey;
}
.m_kinds li.selected:before {
    display: inline-block;
    background-color: rgba(254, 247, 255, 0.57);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.m_kinds li.selected a:before {
    display: inline-block;
    position: absolute;
    font-family: 'fontAwesome';
    color: orange;
    content: '\f058';
    font-size: 21px;
    top: 17px;
    left: 24px;
}
.m_section .cart_state{
    background-color: #f7981d!important;
    color: #fff!important;
    text-decoration: none;
}
.m_section .already.cart_state{
    background-color: #f5f5f5!important;
    color: #32383d!important;
    text-decoration: none;
}
.see_more .cart_state{
    text-decoration: none;
}
.mms-tabs > li > a{
    border-bottom: 3px solid transparent!important;
}
.mms-tabs > li.active{
    border-bottom: 3px solid #f79a22!important;
}
.nav-tabs>li>a:hover{
    background-color: #fff!important;
}
.line_zamorok{
    margin-top: 14px!important;
}
.tab-content{
    min-height: 180px
}
@media (max-width: 767px){
    .m_kinds li a img{
        width: 100%!important;
    }
    .m_kinds li.selected a:before{
        top: 6px;
        left: 11px;
    }
}
