
body {
    /*color: #252525;*/
    /*!* font-family: "Circle-Regular", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; *!*/
    /*font-size: 14px;*/
    /*color: #777777;*/
}

p {
    line-height: 18px;
}

a {
    color: #f79a22;
    outline: none;
}

a:hover {
    transition: 0.2s;
    text-decoration: none;
    color: #e48407;
}

h1, h2, h3, h4 {
    margin-top: 0px;
    font-weight: 600;
    color: #32383d;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

input, select, textarea, button {
    border-radius: 3px;
    height: 40px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding: 10px 15px;
}

input:focus, select:focus, textarea:focus, button:focus {
    transition: 0.2s;
    outline: none;
    border-color: #d7d7d7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

label {
    color: #32383d;
}

.button {
    border: none;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    /* letter-spacing: 0.3px; */
    /* padding-top: 1px; */
    /* height: 40px; */
    border-radius: 2px;
}

.btn-orange {
    background: #f79a22;
    color: #fff;
}

.btn-orange:hover {
    transition: 0.2s;
    background: #e48407;
}

a.button {
    display: inline-block;
    /* padding-top: 12px; */
}

a.btn-orange:hover {
    transition: 0.2s;
    background: #e48407;
    color: #fff;
}

.btn-grey {
    background: #f5f5f5;
    border: 1px solid #d7d7d7;
}

a.btn-grey {
    color: #777777;
}

.btn-grey:hover {
    background: #f0f0f0;
}

.text-inherit {
    text-transform: inherit;
    /* font-size: 14px; */
    font-weight: 500;
}

hr {
    border-top-color: #e8e8e8;
}

/*  Хлебные крошки ------------------------------*/
.breadcrumb {
    font-size: 12px;
    padding-left: 0px;
    background: none;
    letter-spacing: 0.5px;
}

.breadcrumb > li + li:before {
    content: url(../images/bread-arrow.jpg);
    padding: 0 6px 0 4px;
}

.breadcrumb a {
    color: #666;
}

.breadcrumb .active {
    color: #f79a22;
    font-weight: bold;
}

/*  Хлебные крошки ------------------------------*/
.sm-input-wrap {
    width: 100%;
    max-width: 385px;
    /* margin-top: 0px; */
}

.sm-input-wrap input {
    width: 100%;
    margin-bottom: 23px;
}

.sm-input-wrap label {
    font-size: 16px;
}

.flex-for-input {
    display: flex;
    flex-direction: row;
}

.flex-for-input label {
    width: 100%;
    margin-right: 20px;
}

.flex-for-input label:last-of-type {
    margin-right: 0px;
}

.tooltip-question {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    color: #888888;
    line-height: 16px;
    position: relative;
}

/*  Стилизация чекбокса ------------------------------*/
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 32px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #666;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px !important;
    left: 0 !important;
    width: 22px;
    height: 22px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff;
}

.checkbox:checked + label:before {
    background: url(../images/checkbox-yes.png) no-repeat 50% 50%;
    top: -4px !important;
    left: 0 !important;
}

/*  Стилизация чекбокса ------------------------------*/
.order-table {
    width: 100%;
    color: #666;
    margin-bottom: 20px;
    border-top: 1px solid #e8e8e8;
}

.order-table tr {
    border-bottom: 1px solid #e8e8e8;
}

.order-table th {
    color: #32383d;
}

.order-table tr td, .order-table tr th {
    padding: 20px 0;
    text-align: center;
}

.order-table tr td:first-of-type, .order-table tr th:first-of-type {
    text-align: left;
}

.order-table tr td a {
    color: #666;
    /* border-bottom: 1px solid; */
    display: inline-block;
    line-height: 15px;
    outline: none !important;
    text-decoration: underline;
}

.modal-for-order {
    width: 100%;
    width: 830px !important;
}
.modal-for-order .modal-content {
    border-radius: 0px;
}

.modal-for-order .close {
    opacity: 1;
    /* margin-right: -54px; */
    margin-top: -32px;
}

.modal-for-order .modal-header {
    padding-top: 30px;
    border: none;
}

.modal-for-order .modal-body {
    width: 100%;
}

.modal-for-order .modal-footer {
    border-top: 0px;
}

.table-order-popup {
    width: 100%;
}

.table-order-popup tr {
    border-bottom: 1px solid #e8e8e8;
}

.table-order-popup th {
    padding-bottom: 20px;
    color: #32383d;
    text-align: center;
}

.table-order-popup td {
    height: 106px;
    text-align: center;
}

.table-order-popup th:nth-child(2), .table-order-popup td:nth-child(2) {
    text-align: left;
}

.table-order-popup p {
    margin: 5px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0px;
}

.order-sm-image-wrap {
    width: 150px;
    height: 106px;
    overflow: hidden;
    margin: 7px 0;
}

.order-sm-image-wrap img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

strike {
    display: block;
    color: #cb2026;
    font-size: 12px;
}

.modal-for-order .modal-adress-table {
    padding-left: 10px;
}

.modal-for-order .modal-adress-table li {
    list-style: none;
    text-align: left;
    display: flex;
    margin-bottom: 20px;
}

.modal-for-order .modal-adress-table li strong {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #32383d;
}

.modal-for-order .modal-adress-table li span {
    width: 100%;
}

.modal-summ-table {
    text-align: left;
    border: 1px solid #e8e8e8;
    padding-left: 0px;
    list-style: none;
    margin-right: 17px;
}

.modal-summ-table li {
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e8;
}

.modal-summ-table li span {
    float: right;
}

.modal-summ-table li:last-of-type {
    border-bottom: none;
    font-size: 16px;
    font-weight: 600;
    color: #32383d;
}

.modal-summ-table li b {
    font-weight: normal;
    color: #cb2026;
}

.cab-edit-icon, .cab-del-icon {
    height: 18px;
    width: 18px;
    border-bottom: none !important;
}

.cab-edit-icon {
    background: url(../images/edit-icon.png) no-repeat;
}

.cab-del-icon {
    background: url(../images/del-icon.png) no-repeat;
}

.cab-del-icon:hover, .cab-edit-icon:hover {
    background-position: 0 -18px;
    transition: none;
}

.adress-table th:first-of-type {
    width: 30%;
}

.adress-table th:nth-child(2) {
    width: 10%;
}

.adress-table th:nth-child(3) {
    width: 10%;
}

.adress-table th:nth-child(4) {
    width: 10%;
}

.adress-table th:last-of-type {
    width: 0%;
}

.cab-checkbox-adres {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    height: auto;
}

.cab-checkbox-adres + label {
    position: relative;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.cab-checkbox-adres + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -10px;
    width: 19px;
    height: 19px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    background: #fff;
}

.cab-checkbox-adres:checked + label:before {
    border: none;
    background: url(../images/checkbox-white.png) no-repeat 50% 50%;
    background-color: #f79a22;
}

.margin-b-15 {
    margin-bottom: 15px;
}

.cab-sm-contacts {
    font-size: 14px;
    color: #666;
    float: left;
}

.cab-edit-btn {
    float: right;
    margin-top: -25px;
}

.cab-sm-contacts span {
    margin-right: 25px;
}

.cab-sm-contacts img {
    vertical-align: baseline;
    margin-right: 5px;
}

.flex-display {
    display: flex;
}

.cab-cover {
    border: 1px solid #e8e8e8;
    padding: 20px;
    width: 100%;
    margin-right: 20px;
    position: relative;
}

.cab-cover h2 {
    margin-bottom: 25px;
}

.cab-cover:last-of-type {
    margin-right: 0px;
}

.cab-cover_corr {

    padding-right: 15px;

    /* display: inline-block; */

    margin-left: 3px;
}

.grey-link {
    color: #666;
    border-bottom: 1px solid;
}

.cab-adress-block h2 {
    display: inline-block;
}

.cab-adress-block .grey-link {
    float: right;
}

.cab-eit-btn-big a {
    display: inline-block;
    height: 44px;
    width: 44px;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    background: url(../images/icon-pencil.png) no-repeat 50% 50%;
}

.cab-eit-btn-big a:hover {
    background-color: #f4f4f4;
}

.cab-cover .btn-orange {
    margin-top: 24px;
}

.cab-cover {
    margin-bottom: 20px;
}

.cab-last-order ul {
    padding-left: 0px;
    list-style: none;
    width: 100%;
}

.cab-last-order ul li {
    margin-bottom: 15px;
}

.cab-last-order li strong {
    display: inline-block;
    color: #32383d;
    width: 180px;
    font-size: 16px;
}

.cab-last-order .btn-orange {
    margin-top: 5px;
}

.cab-your-discont strong {
    font-size: 16px;
    color: #32383d;
    margin-right: 50px;
}

.cab-your-discont strong span {
    font-weight: 500;
    margin-left: 20px;
}

.cab-change-pass input[type="password"] {
    width: 100%;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

::-webkit-input-placeholder {
    letter-spacing: 0px;
}

::-moz-placeholder {
    letter-spacing: 0px;
}

:-moz-placeholder {
    letter-spacing: 0px;
}

:-ms-input-placeholder {
    letter-spacing: 0px;
}

.cab-change-pass input[type="password"]:focus {
    letter-spacing: 0px !important;
}

.cab-change-pass .btn-orange {
    margin-top: 0px;
}

.btn-alert {
    color: #cb2026;
    margin-left: 20px;
}

.box-for-favorite {
    width: 100%;
    max-height: 350px;
}

.cab-favorite-item {
    height: 96px;
    padding-top: 28px;
    border-top: 1px solid #e8e8e8;
}

.cab-favorite-item:last-of-type {
    border-bottom: 1px solid #e8e8e8;
}

.fav-image-wrap {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 15px;
}

.fav-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cab-fav-link {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.fav-price {
    display: inline-block;
    width: 160px;
    text-align: right;
    vertical-align: super;
}

.fav-item-info {
    width: 100%;
}

.fav-item-info strike {
    display: inline-block;
    margin-right: 15px;
}

.fav-item-info em {
    padding-left: 35px;
    vertical-align: super;
}

.cab-fav-details span {
    margin-right: 20px;
    display: inline-block;
}

.cab-fav-details span:nth-child(1) {
    width: 45px;
}

.cab-fav-details span:nth-child(2) {
    width: 155px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.fav-item-info p {
    margin-bottom: 4px;
}

.md-input-wrap {
    width: 100% !important;
    max-width: 100% !important;
}

.sex {
    display: inline-block;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 12px;
    color: #666;
}

.sex:hover {
    border: 1px solid #f7981d;
    color: #666;
}

.active-sex {
    border: 1px solid #f7981d;
    box-shadow: 0px 0px 0px #f7981d;
}

.input-bg {
    padding-left: 36px;
}

.cab-cover label, .reg-cover label {
    position: relative;
}

.cab-cover label:before, .reg-cover label:before {
    font-family: "Flaticon";
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    top: 36px;
    left: 12px;
    color: #666;
}

.cab-cover .input-bg-profile:before, .reg-cover .input-bg-profile:before {
    content: '\f105';
}

.cab-cover .input-bg-lock:before, .reg-cover .input-bg-lock:before {
    content: '\f118';
}

.cab-cover .input-bg-email:before, .reg-cover .input-bg-email:before {
    content: '\f101';
}

.cab-cover .input-bg-tel:before, .reg-cover .input-bg-tel:before {
    content: '\f100';
}

/*
.input-bg-tel {
   background-image: url(../images/src/icon-input-tel.png);
}

.input-bg-email {
   background-image: url(../images/src/icon-input-email.png);
}

.input-bg-profile {
   background-image: url(../images/src/icon-profile.png);
}

.input-bg-lock {
   background-image: url(../images/src/icon-lock.png);
}
*/
.personal-data {
    color: #666;
    font-size: 12px;
}

.personal-data a {
    border-bottom: 1px solid #666;
    color: #666;
}

.cab-personal-data-wrap {
    position: inherit;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 4px !important;
}

/* СТИЛИЗАЦИЯ СКРОЛЛБАРА */
.mCSB_scrollTools .mCSB_draggerContainer {
    width: 10px;
    background: #f5f5f5 !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #f5f5f5 !important;
}

.mCSB_scrollTools {
    opacity: 1;
}

.mCSB_scrollTools .mCSB_dragger {
    background: #d2d2d2 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #d2d2d2 !important;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #d2d2d2 !important;
}

/* СТИЛИЗАЦИЯ СКРОЛЛБАРА */
/* Запреты и стили для мобильной/планшетной версии*/
.mob-adress-table {
    display: none;
}

.mob-breadcrumb {
    display: none;
}

.cab-mobile-orders {
    display: none;
}

.cab-change-pass-mobile {
    display: none;
}

.discont-table-for-mobile {
    display: none;
}

.mob-adress-table h4 {
    display: inline-block;
}

.mob-adress-table span a {
    display: inline-block;
}

.mob-adress-table span a:last-of-type {
    margin-left: 30px;
}

.mob-adress-table span {
    display: inline-block;
    float: right;
}

.mob-adress-table div {
    border-top: 1px solid #e8e8e8;
    padding-top: 15px;
}

.mob-adress-table div:last-of-type {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.mob-adress-table label {
    padding-left: 30px;
    line-height: 14px;
}

.mob-breadcrumb {
    font-size: 12px;
    color: #666666;
    margin-bottom: 25px;
}

.mob-breadcrumb img {
    margin-right: 10px;
    vertical-align: inherit;
}

.cab-mobile-orders ul {
    list-style: none;
    padding-left: 0px;
}

.cab-mobile-orders ul li {
    padding: 10px 0;
}

.cab-mobile-orders ul li:first-of-type {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0;
}

.cab-mobile-orders strong {
    color: #32383d;
}

.cab-mobile-orders span {
    float: right;
}

.login-wrap {
    margin: 0 auto;
    width: 100%;
    /* max-width: 50%; */
    max-width: 360px;
}

.login-wrap label {
    width: 100%;
    font-size: 16px;
}

.login-wrap input {
    width: 100%;
    margin-bottom: 20px;
}

.login-wrap .btn-orange {
    width: 100%;
}

.login-wrap .btn-orange {
    margin-top: 5px;
}

.email-send, .profile-created {
    padding-top: 190px;
    background: url(images/big-yes.png) no-repeat 50% 20px;
}

.profile-created {
    background: url(../images/profile-yes.png) no-repeat 50% 20px;
}

.email-send h1, .profile-created h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.reg-cover {
    width: 100%;
    max-width: 640px;
}

.reg-cover .personal-agree {
    font-size: 12px;
    margin-top: 16px;
}

.reg-cover .btn-alert {
    margin-left: 0px;
    font-size: 14px;
    margin-bottom: 16px
}

.reg-cover input {
    margin-bottom: 4px;
    font-weight: 500;
}

.alert-input {
    border-color: #cb2026;
}

/* Запреты и стили для мобильной/планшетной версии*/

@media (max-width: 992px) {
    .adress-table th:first-of-type {
        width: 55%;
    }

    .adress-table th:nth-child(2) {
        width: 15%;
    }

    .adress-table th:nth-child(3) {
        width: 15%;
    }

    .adress-table th:nth-child(4) {
        width: 15%;
    }

    .adress-table th:last-of-type {
        width: 0%;
    }

    .sm-input-wrap {
        width: 100%;
        max-width: 100%;
    }

    .lk-main {
        flex-direction: column;
    }

    .cab-change-pass {
        display: none;
    }

    .cab-change-pass-mobile {
        display: block !important;
    }

    .cab-change-pass-mobile input[type="password"] {
        width: 100%;
        margin-bottom: 20px;
        letter-spacing: 5px;
    }

    .discont-table-for-desk {
        display: none;
    }

    .discont-table-for-mobile {
        display: block;
    }

    .fav-item-info p:first-child {
        display: flex;
        justify-content: space-between;
    }

    .fav-item-info em {
        padding-left: 0px;
        margin-right: 25px;
    }

    .reg-cover .col-md-6 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .adress-table {
        display: none;
    }

    .mob-adress-table {
        display: block;
    }

    .breadcrumb {
        display: none;
    }

    .mob-breadcrumb {
        display: block;
    }

    .order-table {
        display: none;
    }

    .cab-mobile-orders {
        display: block;
    }

    .cab-buttons-wrap {
        display: flex;
    }

    .btn-orange {
        /* width: 100%; */
        text-align: center;
    }

    h1 {
        margin-bottom: 25px;
    }

    .flex-for-input {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .flex-for-input label {
        width: 46%;
        margin-right: 0px;
    }

    .cab-personal-data-wrap {
        position: absolute;
        top: 60px;
        margin-left: 0px;
    }

    .cab-edit-btn {
        float: none;
    }

    .cab-last-order .flex-display {
        flex-direction: column;
    }

    .cab-last-order li strong {
        width: 215px;
    }

    .cab-your-discont strong {
        display: block;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .cab-your-discont strong:last-child {
        margin-bottom: 0px;
    }

    .box-for-favorite {
        display: none;
    }

    .btn-alert {
        margin-left: 0px;
        text-align: center;
        display: block;
        margin-top: 15px;
    }

    .personal-agree {
        margin-bottom: 25px;
    }

    .cab-checkbox-adres + label:before {

        left: 0;
    }

    .cab-buttons-wrap .button.btn-orange {
        top: 0 !important;
    }

}

@media (max-width: 580px) {
}

@media (max-width: 440px) {

}

@media (max-width: 320px) {

}

.reg-cover {
    width: 100%;
    max-width: 640px;
}

.reg-cover .personal-agree {
    font-size: 12px;
    margin-top: 16px;
}

.reg-cover .btn-alert {
    margin-left: 0px;
    font-size: 14px;
    margin-bottom: 16px
}

.reg-cover input {
    margin-bottom: 4px;
}

.alert-input {
    border-color: #cb2026;
}

.cabinet h1 {
    margin-top: 19px;
}

input#kv-input {
    font-weight: 100;
}

.col-md-6.cab-discont-block {
    padding: 0 10px 0 15px;
}

.cab-cover.cab-adress-block {
    margin-left: 8px;
}

.cab-cover.cab-last-order {
    margin-right: 8px;
}

.mw_btn {
    min-width: 140px;
}

.f_dev {
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #e8e8e8;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 13px;
}

.mt10 {
    margin-top: 10px;
}

.tooltip-question .info_msg {
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    width: 178px;
    background-color: white;
    border: 1px solid #e8e8e8;
    text-align: left;
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 2px;
    right: -193px;
    top: -15px;
    display: none;
}

.tooltip-question:hover .info_msg {
    display: inline-block;
    opacity: 1;
    z-index: 1;
}

.info_msg:before {
    background-image: url('../images/corner-left.png');
    width: 6px;
    height: 6px;
    display: inline-block;
    position: absolute;
    content: '';
    left: -5px;
    top: 17px;
}

.select_mms i {
    /* color: red; */
    font-size: 4px;
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 28px;
    /* background-color: lime; */
    height: 100%;
    top: 0;
    text-align: center;
}

.select_mms i:before {
    /* background-color: silver; */
    left: 0px;
    position: absolute;
    top: 0;
    display: inline-block;
    margin-left: 0;
    width: 100%;
    height: 100%;
    color: #868686;
    line-height: 35px;
    font-size: 17px;
}

#kv-input,
#zip-input,
#korpus-input,
#dom-input {
    color: #777777;
    font-size: 14px;
    font-weight: 100;
}

