.header .fixedHeader{
	padding-right: 16px;
}
.menu_mobile .sub_menu, .menu_mobile .sub_menu li,
.menu_mobile > ul{
	overflow: auto;
}
.m_kinds li a{
    width: 100%;
}
.m_kinds {
    padding: 0;
    display: inline-block;
    list-style: none;
    text-align: center;
}
.m_kinds li.selected {
    outline: 1px solid lightgrey; !important;
    position: relative;
}
.m_kinds li:hover {
    outline: 1px solid lightgrey;
}
.m_kinds li.selected:before {
    display: inline-block;
    background-color: rgba(254, 247, 255, 0.57);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.m_kinds li.selected a:before {
    display: inline-block;
    position: absolute;
    font-family: 'fontAwesome';
    color: orange;
    content: '\f058';
    font-size: 21px;
    top: 17px;
    left: 22px;
}
.m_section .cart_state{
    background-color: #f7981d!important;
    color: #fff!important;
    text-decoration: none;
}
.m_section .already.cart_state{
    background-color: #f5f5f5!important;
    color: #32383d!important;
    text-decoration: none;
}
@media (max-width: 767px){
	.mobile_control_menu {
		height: 60vh;
	}
}

