.icon{
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    /* display: inline-block; */
}

.icon.icon-globe{
    background-image: url('../images/ico-globe.png');
}

.icon.icon-shipping{
    background-image: url('../images/ico-shipping.png');
}

.icon.icon-sizing{
    background-image: url('../images/ico-sizing.png');
}

.icon.icon-protect{
    background-image: url('../images/ico-shield.png');
}

.icon.icon-phone{
    background-image: url('../images/ico-phone.png');
}

