@media (max-width: 1800px) {
    .footer {
        background-size: auto;
    }
}

@media (max-width: 1400px) {
    .product_item:hover .product_item_variations {
        padding: 13px;
    }

    .container {
        width: 1200px;
    }

    a.tl_link.oln.tl_link_1 {
        margin-left: 0px !important;
    }

    a.tl_link.tl_link_2 {
        margin-left: 10px !important;
    }

    a.tl_link.tl_link_3 {
        margin-left: 10px !important;
    }

    a.tl_link.tl_link_4 {
        margin-left: 10px !important;
    }

    a.tl_link.tl_link_5 {
        margin-left: 17px !important;
    }

    a.tl_link.tl_link_6 {
        margin-left: 17px !important;
    }

    .banner_small {
        height: 215px;
    }

    .f_right form input[type='text'] {
        width: 200px;
    }

    ul.variation_color li {
        margin-right: 1px;
    }

    .product_item_description {
        padding-left: 5px;
        padding-right: 5px;
    }

    .ms_i_cont img {
        width: 100%;
    }

    .search_key .access_menu {
        left: 45px;
    }

    .cart_key .access_menu {
        left: -120px;
    }

    .favorite_key .access_menu {
        left: -140px;
    }

    .favorite_key .access_menu:before {
        left: calc(50% + 37px);
    }
}

@media (max-width: 1199px) {

    .footer {
        background-image: none;
    }

    .login_form_container {
        left: -158px;
        top: 80px;
    }

    .favorite_key .access_menu:before,
    .cart_key .access_menu:before {
        display: none;
    }

    .cart_key .access_menu {
        right: 0;
    }

    .head_controls {
        display: inline-block;
        float: right;
        display: flex;
    }

    .menu_key {
        display: inline-block !important;
    }

    .head_controls .head_control_item {
        float: left;
        margin-right: 14px;
        position: relative;
        width: 60px;
    }

    .flex_height {
        display: block;
        flex-wrap: inherit;
    }

    .f_sub_links {
        /*float: left;*/
        /*clear: both;*/
        display: block;
        float: none;
    }
    .copyright {
        margin-top: 16px;
    }

    .social_list_item {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .social_list_item_wh:before,
    .social_list_item_ok:before,
    .social_list_item_vk:before,
    .social_list_item_ins:before {
        font-size: 28px;
    }

    .f_pay_info br {
        display: none;
    }

    .f_right .f_header {
        /* color: red; */
        display: inline-block;
        float: left;
        margin-right: 30px;
        margin-top: 8px;
    }

    .created_by {
        display: none;
    }

    .f_pay_info {
        display: inline-block;
        margin-bottom: 30px !important;
    }

    .f_right form input[type='text'] {
        width: calc(100vw - 430px);
    }

    .footer .container {
        padding: 0 8px;
    }

    .f_bt {
        padding-bottom: 5px;
    }

    .f_left {

        padding: 20px;

        padding-bottom: 0;
    }

    .f_pay_methods {
        float: right;
        /* top: 1px; */
        position: absolute;
        /* top: -27px; */
        right: 0;
        bottom: 64px;
        height: 10px;
        display: inline-block;
    }

    .social_list_item_wh,
    .social_list_item_ok,
    .social_list_item_vk,
    .social_list_item_ins {
        margin: 4px;
    }

    .social_list {
        width: 116px;
        margin: 0 auto;
    }

    .f_header {
        font-weight: 700;
    }
    .f_header.f_head{
        text-align: center;
    }
    body {
        /* background-color: lime; */
    }

    .product_item_image img {
        width: auto;
        display: inline-block !important;
    }

    .product_item {
        margin-bottom: 15px;
    }

    .ms_i_cont img {
        width: initial;
    }

    a.tl_link.oln.tl_link_1 {
        display: none;
    }

    a.tl_link.tl_link_2 {
        display: none;
    }

    a.tl_link.tl_link_3 {
        display: none;
    }

    a.tl_link.tl_link_4 {
        display: none;
    }

    .main_menu {
        display: none;
    }

    .profile_key {
        display: inline-block !important;
    }

    .container {
        width: 100%;
    }

    .top_line a, .top_line {
        text-align: right;
    }

    .tl_link_5 {
        font-weight: 500 !important;
        font-size: 13px !important;
    }

    .top_line {
        padding-bottom: 4px;
    }

    .slider2,
    .slider1 {
        margin-bottom: 15px;
    }

    .banner_small {
        height: calc(50%);
    }

    /* == MENU == */
    .main_menu_mobile {
        display: inline-block !important;
    }

    .main_menu_mobile ul {
        /* background-color: red; */
        /* display: inline-block; */
        /* position: absolute; */
        /* left: 0; */
    }

    .search_key .access_menu {
        left: -190px;
        top: 80px;
    }

    .cart_key .access_menu {
        left: -307px;
        top: 80px;
    }

    .cart_key .access_menu:before {
        display: inline-block;
        left: initial;
        right: calc(50% - 128px);
    }

    .favorite_key .access_menu {
        left: -232px;
        top: 80px;
    }

    .favorite_key .access_menu:before {
        left: calc(50% + 47px);
        display: inline-block;
    }

    .cat_sub_line .items_per_page {
        display: none;
    }

    .mobile_filter_trigger {
        display: inline-block;
    }

    .sb_filter_container {
        position: fixed;
        left: 0;
        top: 0px;
        /* overflow-x: scroll !important; */
        background-color: white;
        z-index: 6;
        display: none;
        width: 80%;
        height: 100%;
    }

    .filter_apply {
        display: none;
    }

    .reset_filter_sect {
        display: none !important;
    }

    .sb_filter_mobile_close {
        display: inline-block;
    }

    .apply_filter {
        display: inline-block !important;
    }

    #modal_quick .modal-dialog {
        width: calc(100% - 150px);
    }

    .detail_img_container {
        width: calc(100% - 200px);
        display: inline-block;
        height: 520px;
        overflow: hidden;
    }

    ul.m_variations {
        width: calc(200px);
        display: inline-block;
        top: 0;
        position: absolute;
        /* height: 100%; */
    }

    .m_variations .slick-slide img {
        /*width: initial !important;*/
        height: initial;
    }

    .mms-tabs {
        display: flex;
    }

    .mms-tabs li {
        /* flex: 1; */
        margin-right: 10%;
    }

    .sd_rightside {
        padding-left: 10px;
        padding-right: 10px;
    }

    .del-block {
        min-height: unset;
        margin-bottom: 30px;
    }

    .delivery-modal .modal-content {

    }

    .promo_block {
        margin-bottom: 30px;
    }

    .cart_table thead {
        display: none;
    }

    .cart_table tr {
        border-top: 1px solid #e8e8e8;
    }

    .cart_table tr td {
        padding: 22px 0;
    }

    .cart_table tr td:nth-child(3),
    .cart_table tr td:nth-child(4),
    .cart_table tr td:nth-child(5),
    .cart_table tr td:nth-child(6),
    .cart_table tr td:nth-child(7) {
        display: none;
    }

    .cart_table .cart_mobile_td {
        width: 155px;
        float: right;
    }

    .cart_table .cart_mobile_td .cart_remove {
        position: absolute;
        top: 12px;
        right: 0;
    }

    .cart_mobile_td .col-price div {
        display: inline-block;
    }

    .cart_mobile_td .old-price {
        margin-right: 10px;
    }

    .cart_mobile_td .col-price {
        margin-top: 41px;
        float: right;
    }

    .cart_mobile_td .m_quantity {
        position: absolute;
        bottom: -10px;
        right: 106px;
        display: inline-block;
    }

    .cart_info_mobile {
        display: inline-block;
    }

    .cart_mobile_td {
        display: inline-block;
        padding: 5px 0 !important;
        height: 100%;
        width: 100%;
        /* background-color: red; */
        position: relative;
    }

    .btns_row
}

@media (max-width: 991px) {
    body {
        /* background-color: gold; */
    }

    .f_bt {
        display: inline-block;
        width: 100%;
        padding-right: 0;
    }

    .mms-tabs > li > a {
        font-size: 14px;
    }

    .mms-tabs li {
        margin-right: 9%;
    }

    .modal-body .detail_img_container {
        height: auto;
    }

    .del-block {
        min-height: unset;
    }

    .delivery-modal .modal-content,
    .delivery-modal {
        height: auto;
        min-height: unset;
    }

    .delivery-modal {
        width: calc(100% - 50px);
    }
}

@media (max-width: 767px) {
    .product_item:hover .product_inner {
        box-shadow: none;
    }

    .actual_unslick_mobile.slick-slider,
    .product_item_list_mobile.slick-slider {
        display: inherit;
    }

    .actual_unslick,
    .product_item_front_list {
        display: none;
    }

    .m_kinds {
        padding-bottom: 20px;
        border-bottom: 1px solid #eeeeee;
    }

    .add_actions {

    }

    .m_kinds li {
        width: 43px;
        margin-right: 4px;
    }

    .cart_state {
        width: 100%;
        text-align: center;
    }

    .table_sizes {

        position: relative;

        clear: both;

        display: block;

        top: 9px;

        margin-bottom: 27px;
    }

    a.tl_link.tl_link_5 {
        font-size: 12px !important;
    }

    .f_right form input[type='submit'] {
        width: 17%;
        min-width: 125px;
    }

    .f_question_btn a span {
        font-size: 12px;
    }

    .preview_btn_link {
        display: none !important;
    }

    #cart_link_mobile {
        display: inline-block;
    }

    .variation_color:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        overflow: hidden;
    }

    .more_link_front_container {
        display: none;
    }

    .more_link_front {
        display: block;
        color: orange;
        font-weight: 700;
        text-decoration: underline;
        /* padding-left: 8px; */
    }

    #cart_link,
    .profile_key,
    .favorite_key,
    .search_key {
        display: none !important;

    }

    .menu_key {
        position: absolute !important;
        left: 10px;
    }

    .logo {

        left: calc(50% - 70px);
    }

    .f_header {
        width: 100%;
    }

    .f_pay_methods {
        position: relative;
        bottom: 0;
        left: 0;
        right: initial;
        float: left;
    }

    .f_pay_info {
        width: 90%;
        margin-bottom: 0 !important;
    }

    .f_right form input[type='text'] {
        width: calc(100vw - 170px);
    }

    .f_right {
        height: 250px;
    }

    .f_phone a {
        /* color: red; */
        font-size: 15px;
    }

    .f_question_btn a span {
        padding: 5px 3px;
    }

    .f_mail a {
        font-size: 13px;
    }

    .m_price {
        position: relative;
        width: 100%;
        text-align: left;
        margin-top: 12px;
        margin-bottom: 11px;
    }

    .m_having {
        position: relative;
        text-align: left;
        top: 0;
    }

    .mobile_control_menu,
    .mobile_search_cont {
        display: inline-block;
        /* padding-bottom: 30px; */
        /* overflow: scroll; */
        padding: 10px 15px;
    }

    .mobile_control_menu {
        /*overflow-y: scroll;*/
        padding: 0 0 60px 0;
        height: 100vh;
        z-index: 3232;
        position: relative;
    }

    .sort_filters {
        /* background-color: red; */
        margin: 0;
        padding: 0;
        width: calc(100% - 70px);
        height: 33px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        margin-top: 6px;
        overflow: hidden;
        z-index: 3;
    }

    .sort_filters span {
        /* display: none; */
        width: 100%;
        padding: 6px 10px;
        font-weight: 100;
        font-family: 'Circe';
    }

    .sort_filters ul {
        /* background-color: lime; */
        width: 100%;
        /* overflow: hidden; */
        position: relative;
        z-index: 1;
    }

    .sort_filters span:before {
        content: '\f107';
        font-family: 'fontAwesome';
        position: absolute;
        right: 0;
        font-size: 19px;
        border-left: 1px solid #e8e8e8;
        padding: 0 10px;
        cursor: pointer;
        height: 100%;
        top: 0px;
        color: #8e8a8a;
        top: 0px;
        line-height: 33px;
    }

    .sort_filters ul li {
        float: none;
        width: 100%;
        background: white;
        border: 1px solid #e8e8e8;
        border-top: none;
    }

    .sort_filters ul li:first-child {
        /* background-color: red; */
        /* border-left: none; */
        /* border-top: none; */
        /* border-right: none; */
    }

    .sort_filters ul li a {
        margin-left: 0;
        padding: 6px 15px;
        display: inline-block;
        width: 100%;
    }

    .sort_filters ul li.active a {
        font-weight: initial;
        color: inherit;
    }

    .filter_clear,
    .ft_name {
        /* padding-left: 15px; */
        /* padding-right: 15px; */
    }

    .mms-tabs li {
        width: 48%;
        margin-bottom: 0;
    }

    .detail_img_container {
        width: 100%;
        margin-bottom: 10px;
    }

    ul.m_variations {
        width: 100%;
    }

    .add_actions {
        text-align: left;
        width: 100%;
        margin: 20px 0;
    }

    .m_cat, .m_descr,
    .main_product_description h1 {
        padding-right: 0;
    }

    .content_front {
        overflow: hidden;
    }

    ul.m_variations {
        padding: 0;
        top: unset;
        position: relative;
    }

    .m_variations .slick-slide {
        height: 50px;
    }

    .m_variations .slick-slide img {
        width: 100% !important;
        height: 100% !important;
    }

    .del-block {
        padding: 0;
        border: none;
    }

    .btns_row {
        margin-top: 5px;
    }

    .add_recip {
        top: 2px;
        right: 0px;
    }

    .cart_table tr {
        border-bottom: none;
    }

    .cart_table tr td:nth-child(2) {
        /* background-color: lightgoldenrodyellow; */
        display: inline-block;
        width: 100% !important;
        padding-bottom: 5px;
        padding-top: 20px;
        padding-left: 5px;
    }

    .cart_mobile_td {
        /* background-color: darkseagreen; */
        display: inline-block;
        width: 100% !important;
        text-align: left;
    }

    .cart_table .cart_mobile_td .cart_remove {
        top: 0;
    }

    .cart_mobile_td .col-price {
        margin: 0;
        float: left;
    }

    .cart_mobile_td .m_quantity {
        position: relative;
        left: 0;
        right: unset;
        top: unset;
        bottom: unset;
        padding-left: 5px;
        display: inline-block;
        width: 100%;
        height: 35px;
        margin-top: 9px;
    }

    .cart_mobile_td {
        position: static;
        padding-left: 5px !important;
    }

    .cart_table tr {
        position: relative;
        display: table;
        width: 100%;
    }

    .cart_table .cart_mobile_td .cart_remove {
        right: 0px;
        top: 11px;
    }

    .cart_table .cart_mobile_td {
        padding-bottom: 10px !important;
    }

    .cart_info_mobile span {
        width: 100%;
        display: inline-block;
    }

    .cart_table tr td:nth-child(1) {
        vertical-align: top;
        padding-right: 3px;
    }

    .mp0 {
        padding-left: 0;
        padding-right: 0;
    }

    .btns_row .lk_grey_btn {
        margin-bottom: 10px;
    }

    .promo_block input {
        width: 100% !important;
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {

    .detail_img .slick-list {
        height: 100%;
        /* min-height: 270px; */
    }

    .detail_img .slick-track {
        height: 100%;
    }

    .detail_img a {
        height: 100%;
        display: inline-block;
        /* margin: 0 30px; */
    }

    .detail_img .h_align {
        height: 100%;
    }

    .detail_img a img {
        /* background-color: red; */
        width: 100%;
        object-fit: cover;
    }

    .detail_img {
        /* background-color: lime; */
        height: 100%;
    }

    .variation_size {
        text-align: center;
    }

    ul.variation_size li {
        float: none;
        display: inline;
    }

    #get_question .modal-dialog,
    #modal_failed .modal-dialog,
    #modal_success .modal-dialog,
    #callback .modal-dialog {
        width: 270px;
    }

    .menu_mobile {
        width: 80%;
        /* position: fixed; */
        /* height: 100%; */
    }

    .menu_mobile {
        /* overflow: hidden; */
        /* height: 100%; */
        /* overflow-y: scroll; */
        /* overflow-x: unset; */
        position: fixed;
        padding-bottom: 50px;
        box-sizing: content-box;
    }

    .product_item {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 512px) {
    .detail_img_container {
        height: 290px;
    }

}

@media (max-width: 400px) {
    .product_item_image img {
        width: 100%
    }

    .btns_row .lk_grey_btn {
        min-width: 104px;
    }

    .mms_checkbox label {
        /* background-color: red; */
        display: inline-block;
        width: calc(100% - 32px);
        position: relative;
        top: 6px;
    }
}