.main_menu {
    display: inline-block;
    height: initial;
    /* background-color: lime; */
    margin-left: 24px;
    z-index: 3;
    position: relative;
}

.main_menu ul {
    margin: 0;
    z-index: 3;
    padding: 0;
    list-style: none;
    /* height: 100%; */
    /* position: relative; */
    display: block;
    /* display: inline-block; */
    /* margin-right: 60px; */
    min-width: 150px;
    /* background-color: dimgray; */
}

.main_menu ul li {
    float: left;
    padding: 30px 10px;
}

.main_menu ul li a {
    text-transform: uppercase;
    color: #3f3f3f;
    position: relative;
    font-size: 11px;
    font-family: 'Circe-Bold', arial;
}

.main_menu a:active,
.main_menu a:focus,
.main_menu a:hover {
    text-decoration: none;
}

.main_menu ul li.active {
    /*border-bottom: 2px solid #f7981d;*/
    box-shadow: inset 0px -2px 0px #f7981d;
}

.main_menu > ul > li:hover {
    /* border-bottom: 2px solid #f7981d; */
    box-shadow: inset 0px -2px 0px #f7981d;
}

.list_2 {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

.list_2 li {
    background-image: url('../images/mark-orange.png');
    background-repeat: no-repeat;
    background-position: left 2px;
    padding-left: 24px;
    margin-bottom: 5px;
    display: inline-block;
}



.main_menu ul > li .sub_menu {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    left: 0;
    top: 116px;
    /* height: 180px; */
    display: none;
}

.sub_menu ul li {
    /* margin-bottom: 20px; */
}

.sub_menu ul li a {
    color: #32383d;
    font-size: 16px;
    font-family: Circe-Bold;
    text-transform: none;
    margin-bottom: 12px;
    display: inline-block;
}

.sub_menu ul ul li {
    float: none;
    padding: 0;
}

.sub_menu ul ul li a {
    color: #666666;
    font-family: Circe;
    font-size: 14px;

}

.menu_space{
    display: inline-block;
    width:100%;
    /* background-color: red; */
    height: 28px;
}

.main_menu a i{
    font-size: 6px;
    height: 20px;
    display: inline-block;
    line-height: 18px;
    padding: 2px;
    width: 20px;
    /* position: relative; */
    /* top: -3px; */
    /* position: absolute; */
    /* right: -23px; */
    margin: -2px 1px;
}

.main_menu a i.label-percent{
    font-size: 10px;
    text-align: center;
}

.menu_mobile{
    position: fixed;
    left: 0;
    top:0;
    background-color: white;
    list-style: none;
    z-index:9;
    height: 100%;
    width: 30%;
    overflow: inherit !important;
}

.menu_mobile ul{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 555;
    display: block;
    position: relative;
}

.menu_mobile ul ul{
    display: none;
}

.menu_mobile a{
    color: #3f3f3f;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
    font-size: 11px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}

.menu_mobile_close{
    /* background-color: red; */
    width: 30px;
    height: 32px;
    position: absolute;
    right: -35px;
    top: 0px;
}

.menu_mobile_close:before{
    content: '\f104';
    font-family: Flaticon;
    color: white;
    font-size: 20px;

}