.search-count{
    margin-bottom: 25px;
}
.sub_cat_line{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
}
.cat_sub_line{
    padding: 10px 0;
}
.find-nothing{
    padding-top: 190px;
}
.find-nothing h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.search-form i.ico_find{
    width: 100%;
    position: relative;
}
.search-form i.ico_find:before {
    content: "\f115";
    color: grey;
    font-family: 'Flaticon';
    font-size: 18px;
    display: inline-block;
    font-style: normal;
    width: 100%;
    position: absolute;
    left: 10px;
    top: -3px;
}
.search-form input{
    padding-left: 34px;
    width: 100%;
}
.search-form{
    width: 400px;
    margin: auto;
}
.search-form{
    padding-top: 30px;
    padding-bottom: 50px;
}
@media (max-width: 1024px){
    .find-nothing{
        padding-top: 100px;
    }
}
@media (max-width: 769px){
    .find-nothing{
        padding-top: 50px;
    }
}
@media (max-width: 480px){
    .search-form{
        width: 100%;
        margin: auto;
    }
    .find-nothing{
        padding-top: 10px;
    }
}

