#showMe{
    opacity: 0;
}
.col-tac img{
    width: 90px;
}
.cart_table .btn-grey{
    text-decoration: none;
}
.cab-favorite-item:first-child{
    border-top: 0px;
    padding-top: 0px;
    height: 65px;
}
li:focus,
a:focus{
    outline:none;
}
.unclick{
    pointer-events: none;
    cursor: default;
    background: #c2baaf!important;
}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.authOk-dialog{
    width: 320px;
    margin: auto;
    text-align: center;
}
.bx-authform-description-container{
    text-align: center;
}
.bx-authform-description-container a{
    color: #444444;
    font-weight: 700;
}
.product_item_description a {
    color: #666666!important;
}
.variation_size .selected a {
    border-color: orange !important;
}
.variation_color .selected {
    border-color: lightgray !important;
    position: relative;
}
.variation_color .selected:before {
    background-color: rgba(254, 247, 255, 0.65);
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "\f11b";
    position: absolute;
    font-family: "Flaticon";
    color: orange;
    font-size: 21px;
    top: 9px;
}
.product_item_variations{
    width:100%;
}
ul.variation_size{
    width:auto;
}
.lazyload{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f7981d;
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 13px 0;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}
.product_item_image span{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 162px;
    display: block;
}
.modal_quick .modal-dialog{
    width: 920px;
}
.modal_quick .m_kinds li a img {
    width: 55px;
}
.modal_quick .cart_state {
    padding: 10px 26px;
}
.product_marks_detail .flaticon-signs.spec,
.product_marks .flaticon-signs.spec{
    margin-left: -20px;
    display: block;
    margin-top: -2px;
}
.inputForm{
    position:relative;
}

.bx-opener .head_control_item_ico{
    background-color: #f5f5f5;
}
.dropdown .sub_menu li a:hover{
    color: #f7981d;
}
.inputForm .find404 {
    width: 300px;
    padding-left: 35px;
}
.inputForm .ico_find{
    position: absolute;
    margin: 7px 5px 7px 10px;
}
@media (max-width: 400px) {
    .container .breadcrumbs {
        margin-top: 8px!important;
    }
}
@media (max-width: 600px) {
    .authOk-dialog {
        width: 100%;
    }
    .cat_sub_line {
        padding: 10px 0;
    }
}
@media (max-width: 767px){
    .popup-window.modal-dialog{
        left: 0!important;
        width: 270px;
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
    .mobile_control_menu {
        height: 60vh;
    }
}