.created_ok{
	color: green;
}
.created_error{
	color:red;
}
.location-block-wrapper  .bx-ui-sls-error-message{
	display:none!important;
}
.select-cover{
	width: 100%;
	height: 39px;
}
.dropdown_mms span{
	line-height: 29px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 4px 10px!important;
}
.dropdown_mms span:before {
	line-height: 40px!important;
}
.dropdown_mms.dropdown_mms_opened span{
	border-bottom: 1px solid #e8e8e8;
}
.dropdown_mms.dropdown_mms_opened li:hover{
	background-color: #f5f5f5;
}
.dropdown_mms_opened ul{
	margin-top: -7px!important;
}
.container a{
	text-decoration: none!important;
}
.cab-eit-btn-big a{
	margin-top: -3px;
}
.changepass_error{
	color: #cb2026;
	margin-top: 10px;
}
.changepass_success{
	color: #01af00;
	margin-top: 10px;
}
.cab-buttons-wrap a.btn-grey{
	text-align: center;
}
@media (max-width: 600px) {
	.grey-link{
		pointer-events: none;
		cursor: default;
	}
	.dropdown_mms span {
		width: 85%!important;
	}
}
@media (max-width: 1199px) {
	.changepass_error {
		margin-top: 0;
	}
	.changepass_success{
		margin-top: 0;
	}
}